<div class="container page-top">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <br />
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6 order-2 order-md-1 py-4">
            <div class="text-center">
              <h4 class="automate-heading">Automate self-development</h4>
              <p class="mb-2 my-md-4 evolve-daily-text">
                Evolve daily by efficiently managing your time, thoughts,<br />
                tasks and routines in a simple app.
              </p>
              <button class="blue-btn">
                <i class="fa-solid fa-play"></i>&nbsp; &nbsp;Watch video
              </button>
              <div class="col-md-7 mx-auto my-3">
                <div class="d-flex justify-content-center">
                  <div class="me-2">
                    <img
                      src="assets/images/app-store.png"
                      class="google-play-img img-fluid"
                    />
                  </div>
                  <div class="ms-2">
                    <img
                      src="assets/images/google-play.png"
                      class="google-play-img img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 order-1 order-md-2">
            <img
              src="assets/images/climbing-pana.svg"
              class="d-block w-100 banner-img"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6 order-2 order-md-1 py-4">
            <div class="text-center">
              <h4 class="automate-heading">Automate self-development</h4>
              <p class="mb-2 my-md-4 evolve-daily-text">
                Evolve daily by efficiently managing your time, thoughts,<br />
                tasks and routines in a simple app.
              </p>
              <button class="blue-btn">
                <i class="fa-solid fa-play"></i>&nbsp; &nbsp;Watch video
              </button>
              <div class="col-md-7 mx-auto my-3">
                <div class="d-flex justify-content-center">
                  <div class="me-2">
                    <img
                      src="assets/images/app-store.png"
                      class="google-play-img img-fluid"
                    />
                  </div>
                  <div class="ms-2">
                    <img
                      src="assets/images/google-play.png"
                      class="google-play-img img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 order-1 order-md-2">
            <img
              src="assets/images/climbing-pana.svg"
              class="d-block w-100 banner-img"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6 order-2 order-md-1 py-4">
            <div class="text-center">
              <h4 class="automate-heading">Automate self-development</h4>
              <p class="mb-2 my-md-4 evolve-daily-text">
                Evolve daily by efficiently managing your time, thoughts,<br />
                tasks and routines in a simple app.
              </p>
              <button class="blue-btn">
                <i class="fa-solid fa-play"></i>&nbsp; &nbsp;Watch video
              </button>
              <div class="col-md-7 mx-auto my-3">
                <div class="d-flex justify-content-center">
                  <div class="me-2">
                    <img
                      src="assets/images/app-store.png"
                      class="google-play-img img-fluid"
                    />
                  </div>
                  <div class="ms-2">
                    <img
                      src="assets/images/google-play.png"
                      class="google-play-img img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 order-1 order-md-2">
            <img
              src="assets/images/climbing-pana.svg"
              class="d-block w-100 banner-img"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
  </div>
</div>

<!-- -----one app to rule them all----- -->
<div class="bg-oneapp container-fluid">
  <h6 class="text-center pt-3">One App To Rule Them All</h6>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-2 item">
        <div class="grid-gap-oneapp text-center">
          <div>
            <img src="assets/desktop-icons/desktop-dolist.png" />
          </div>
          <div>
            <p class="bg-oneapp-subheading">To-Do List</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 item">
        <div class="grid-gap-oneapp text-center">
          <div>
            <img src="assets/desktop-icons/desktop-habit.png" />
          </div>
          <div>
            <p class="bg-oneapp-subheading">Habit Tracker</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 item">
        <div class="grid-gap-oneapp text-center">
          <div>
            <img
              src="assets/desktop-icons/desktop-journaling.png"
            />
          </div>
          <div>
            <p class="bg-oneapp-subheading">Journaling</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 item">
        <div class="grid-gap-oneapp text-center">
          <div>
            <img src="assets/desktop-icons/desktop-notes.png" />
          </div>
          <div>
            <p class="bg-oneapp-subheading">Notes</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 item">
        <div class="grid-gap-oneapp text-center">
          <div>
            <img src="assets/desktop-icons/desktop-list.png" />
          </div>
          <div>
            <p class="bg-oneapp-subheading">Lists</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -----one app to rule them all ends----- -->
<!-- -----Customize the way you like----- -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-5 mx-md-auto mx-lg-0">
      <img
        src="assets/images/customize-add.png"
        class="customize-img-desktop"
      />
    </div>
    <div class="col-lg-6 col-md-7 mx-auto mx-lg-0 my-lg-5 my-sm-3">
      <h5 class="text-left mobile-text-center my-2">
        Customize the way you like
      </h5>
      <div class="cutomize">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item accordian-box">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="true"
                aria-controls="flush-collapseOne"
                class="accordion-button expand-heading-text"
              >
                <img src="assets/images/toggle-on.png" />
                &nbsp; Turn Off-On the features
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body grey-text">
                Mevolve was developed to help you reach your goals and be more
                consistent.
                <img
                  src="assets/images/customize-add.png"
                  class="customize-img-mobile"
                />
              </div>
            </div>
          </div>
          <div class="accordion-item accordian-box">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed expand-heading-text"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                <img src="assets/images/light-dark.png" /> &nbsp;
                Light and Dark mode
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Let's imagine this being filled with some actual content.
              </div>
            </div>
          </div>
          <div class="accordion-item accordian-box">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                <img src="assets/images/multitheme.png" /> &nbsp;
                Multi-theme colors
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Let's imagine this being filled with some actual content.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -----Customize the way you like ends----- -->
<!-- -----Customize the way you like----- -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-7 ms-md-3 ms-lg-5 my-lg-5 my-sm-3">
      <h5 class="text-left mobile-text-center my-2">
        Customize the way you like
      </h5>
      <div class="customize">
        <div class="accordion accordion-flush" id="accordionFlushExample1">
          <div class="accordion-item accordian-box">
            <h2 class="accordion-header" id="flush-headingOne1">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne1"
                aria-expanded="true"
                aria-controls="flush-collapseOne1"
                class="accordion-button expand-heading-text"
              >
                <img src="assets/images/toggle-on.png" />
                &nbsp; Turn Off-On the features
              </button>
            </h2>
            <div
              id="flush-collapseOne1"
              class="accordion-collapse collapse show"
              aria-labelledby="flush-headingOne1"
              data-bs-parent="#accordionFlushExample1"
            >
              <div class="accordion-body grey-text">
                Mevolve was developed to help you reach your goals and be more
                consistent.
                <img
                  src="assets/images/customize.png"
                  class="customize-img-mobile"
                />
              </div>
            </div>
          </div>

          <div class="accordion-item accordian-box">
            <h2 class="accordion-header" id="flush-headingTwo2">
              <button
                class="accordion-button collapsed expand-heading-text"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo2"
                aria-expanded="false"
                aria-controls="flush-collapseTwo2"
              >
                <img src="assets/images/light-dark.png" /> &nbsp;
                Light and Dark mode
              </button>
            </h2>
            <div
              id="flush-collapseTwo2"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo2"
              data-bs-parent="#accordionFlushExample1"
            >
              <div class="accordion-body">
                This is the second item's accordion body. Let's imagine this
                being filled with some actual content.
              </div>
            </div>
          </div>
          <div class="accordion-item accordian-box">
            <h2 class="accordion-header" id="flush-headingThree3">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree3"
                aria-expanded="false"
                aria-controls="flush-collapseThree3"
              >
                <img src="assets/images/multitheme.png" /> &nbsp;
                Multi-theme colors
              </button>
            </h2>
            <div
              id="flush-collapseThree3"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree3"
              data-bs-parent="#accordionFlushExample1"
            >
              <div class="accordion-body">
                how this would look in a real-world application.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 mx-md-auto mx-lg-0 ms-lg-5">
      <img
        src="assets/images/customize.png"
        class="customize-img-desktop"
      />
    </div>
  </div>
</div>
<!-- -----Customize the way you like ends----- -->
<!-- -----Customize the way you like----- -->
<div class="container mobile-none-content">
  <div class="row">
    <div class="col-lg-4 col-md-5 mx-md-auto ipad-pro-left mx-lg-0">
      <img
        src="assets/images/how-was-ofc.png"
        class="img-fluid how-ofc"
      />
    </div>
    <div class="col-lg-6 col-md-7 mx-auto my-lg-5 my-sm-3 order-md-2 mx-lg-0">
      <h5 class="text-left mobile-text-center my-2">
        Customize the way you like
      </h5>
      <div class="cutomize">
        <div class="accordion accordion-flush" id="accordionFlushExample2">
          <div class="accordion-item accordian-box">
            <h2 class="accordion-header" id="flush-headingOne2">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne2"
                aria-expanded="true"
                aria-controls="flush-collapseOne2"
                class="accordion-button expand-heading-text"
              >
                <img src="assets/images/toggle-on.png" />
                &nbsp; Turn Off-On the features
              </button>
            </h2>
            <div
              id="flush-collapseOne2"
              class="accordion-collapse collapse show"
              aria-labelledby="flush-headingOne2"
              data-bs-parent="#accordionFlushExample2"
            >
              <div class="accordion-body grey-text">
                Mevolve was developed to help you reach your goals and be more
                consistent.
                <img
                  src="assets/images/customize.png"
                  class="customize-img-mobile"
                />
              </div>
            </div>
          </div>
          <div class="accordion-item accordian-box">
            <h2 class="accordion-header" id="flush-headingTwo3">
              <button
                class="accordion-button collapsed expand-heading-text"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo3"
                aria-expanded="false"
                aria-controls="flush-collapseTwo3"
              >
                <img src="assets/images/light-dark.png" /> &nbsp;
                Light and Dark mode
              </button>
            </h2>
            <div
              id="flush-collapseTwo3"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo3"
              data-bs-parent="#accordionFlushExample2"
            >
              <div class="accordion-body">
                Placeholder content for this accordion, which is intended to
              </div>
            </div>
          </div>
          <div class="accordion-item accordian-box">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree4"
                aria-expanded="false"
                aria-controls="flush-collapseThree4"
              >
                <img src="assets/images/multitheme.png" /> &nbsp;
                Multi-theme colors
              </button>
            </h2>
            <div
              id="flush-collapseThree4"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree4"
              data-bs-parent="#accordionFlushExample2"
            >
              <div class="accordion-body">
                how this would look in a real-world application.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -----Customize the way you like ends----- -->
<!-- -----Customize the way you like passcode----- -->
<div class="container mobile-none-content">
  <div class="row">
    <div class="col-md-6 text-left">
      <div class="col-lg-7 ms-md-5 text-center passcode-box">
        <h6>Set passcode</h6>
        <div class="passcode my-3"  >


           <div>
             <input type="password" pattern="[0-1]"  class="input-filed" />
           </div>
           <div>
             <input type="password" class="input-filed" />
           </div>
           <div>
             <input type="password" class="input-filed" />
           </div>
           <div>
             <input type="password"  class="input-filed" />
           </div>

        </div>
        <div class="blue-btn">Set Passcode</div>
      </div>
    </div>
    <div class="customize-way-heading col-md-6">
      <h5 class="text-left mobile-text-center my-2">
        Customize the way you like
      </h5>
      <ul class="customize-way-text">
        <li>Turn Off-On the features that you want to use</li>
        <li>Light and Datk theme</li>
        <li>Multi-theme colors</li>
      </ul>
    </div>
  </div>
</div>
<!-- -----Customize the way you like passcode----- -->
<!-- -----Customize the way you like passcode----- -->
<div class="container mobile-none-content">
  <div class="row">
    <div class="customize-way-heading col-lg-5 col-md-6 ms-lg-5 ms-md-4">
      <h5 class="text-left mobile-text-center my-2">
        Customize the way you like
      </h5>
      <ul class="customize-way-text">
        <li>Turn Off-On the features that you want to use</li>
        <li>Light and Datk theme</li>
        <li>Multi-theme colors</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-4">
      <img
        src="assets/images/calender.png"
        class="calender-img img-fluid"
      />
    </div>
  </div>
</div>
<!-- -----Customize the way you like passcode----- -->
<div class="container-fluid video-bg">
  <div class="row">
    <div class="col-lg-4 col-md-6 mx-auto text-center">
      <img src="assets/images/vedio.png" class="img-fluid" />
      <div class="video-grey-text">
        Watch Mevolve demo video to understand<br />
        the application.
      </div>
    </div>
  </div>
</div>
<!-- -----Choose the best plan for you----- -->
<div class="container-fluid my-4">
  <div class="col-lg-6 col-md-7 mx-auto text-center">
    <h4 class="my-2">Choose the best plan for you</h4>
    <div class="col-md-12">
      <div class="row my-4">
        <div class="col-md-4 best-plan-mobile">
          <div class="best-plan-card">
            <div>
              <h4>$0</h4>
            </div>
            <div>
              <p class="mode-ofplan">Free</p>
            </div>
            <div><p class="days-ofplan">(For 30 days)</p></div>
          </div>
        </div>
        <div class="col-md-4 best-plan-mobile">
          <div class="best-plan-card">
            <div>
              <h4>$3.99</h4>
            </div>
            <div>
              <p class="mode-ofplan">Per month</p>
            </div>
            <div><p class="days-ofplan">(Monthly Billing)</p></div>
          </div>
        </div>
        <div class="col-md-4 best-plan-mobile">
          <div class="best-plan-card">
            <div>
              <h4>$2.99</h4>
            </div>
            <div>
              <p class="mode-ofplan">Per Year</p>
            </div>
            <div><p class="days-ofplan">(Yearly Billing)</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="wt-we-offer-card">
      <h5 class="text-center">What we offer ?</h5>
      <div class="wt-we-offer">
        <div>
          <img src="assets/images/add.png" />
        </div>
        <div>
          &nbsp;&nbsp;<span
            >Add Todos, Habits, Journals and Notes in a single app.</span
          >
        </div>
      </div>
      <div class="wt-we-offer">
        <div>
          <img src="assets/images/habit-tracking.png" />
        </div>
        <div>&nbsp;&nbsp;<span>Four types of Habit Tracking.</span></div>
      </div>
      <div class="wt-we-offer">
        <div>
          <img src="assets/images/tracktods.png" />
        </div>
        <div>
          &nbsp;&nbsp;<span
            >Track Todos, Habits, Journals and Notes with daily values.</span
          >
        </div>
      </div>
      <div class="wt-we-offer">
        <div>
          <img src="assets/images/smiley.png" />
        </div>
        <div>
          &nbsp;&nbsp;<span
            >Update your Mood and Pictures in Journal and Notes section.</span
          >
        </div>
      </div>
      <div class="wt-we-offer">
        <div>
          <img src="assets/images/customise-color.png" />
        </div>
        <div>&nbsp;&nbsp;<span>Customize the app color.</span></div>
      </div>
      <div class="wt-we-offer">
        <div>
          <img src="assets/images/bell.png" />
        </div>
        <div>&nbsp;&nbsp;<span>Notification and Reminders.</span></div>
      </div>
      <div class="wt-we-offer">
        <div>
          <img src="assets/images/lock.png" />
        </div>
        <div>&nbsp;&nbsp;<span>Lock Pin</span></div>
      </div>
    </div>
  </div>
</div>
<!-- -----Choose the best plan for you----- -->
<!-------------- get in touch ---------------->
<div class="container-fluid bg-getin-touch">
  <div class="col-lg-6 col-md-7 mx-auto text-center">
    <h4 class="my-2">Get in touch</h4>
    <p class="getin-touch-text">
      Our friendly team would love to hear from you !
    </p>
    <div class="getin-touch-card">
      <div>
        <label class="label-name">Your Name</label>
        <input class="form-control height-input" placeholder="e.g, pallavi" />
        <label class="label-name">Your Email</label>
        <input
          class="form-control height-input"
          placeholder="e.g, mopurupallavi@gmail.com"
        />
        <label class="label-name">Message</label>
        <textarea
          class="form-control"
          rows="3"
          placeholder="Let tell us about your thoughts on this..."
        ></textarea>
      </div>
      <div class="text-center mt-4">
        <button class="blue-btn">Send message</button>
      </div>
    </div>
  </div>
</div>
<!-------------- get in touch ---------------->
