.bg-footer {
  background-color: #424242;
}

.footer-logo {
  color: white;
  font-size: 44px;
}
.hr-line {
  position: inherit;
  /* width: 81.62px;
  height: 1.58px; */
  width: 88.62px;
height: 1.58px;
  /* display: initial; */
  /* top: 20px; */
  margin-top: 1rem;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.997917) 99.99%,
    #ffffff 100%
  );
}
.text-white {
  color: white;
  display: inline;
}
.text-white-evolve {
  color: #ccc8c8;
  display: inline;
  font-size: 12px;
  margin-top: 5px;
}
.evolve-daily {
  font-weight: 400;
  font-size: 12px;
  color: #949c9e;
  /* margin-top: 10px; */
}
.footer-list-heading {
  color: #949c9e;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: auto;
}

li {
  list-style-type: none;
  margin: 8px 0px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
hr{
  border: 0.5px solid #949C9E;
}
.rights-reserved-text{
  color: #949c9e;
}
.social-media-icons i{
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 14px;
  padding: 6px 8px;
  cursor: pointer;
}
.social-media-icons{
  display: flex;
  gap: 20px;
}
.footer-logo span{
  font-weight: 300;
}
@media screen and (max-width:480px) {
  .social-media-icons {
    display: flex;
    gap: 9px;
}
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
  }
  .mobile-evolve-daily{
    /* justify-content:center; */
     align-items:center;
  }
  .text-white-evolve {
    margin-top: 9px;
  }
  .dot{
    margin-top: 2px;
  }
  .footer-list-heading {
    font-size: 13px;
  }
  li {
    font-size: 13px;
  }
  .evolve-daily {
    font-size: 10px;
  }
  .hr-line{
    margin-top: 13px !important;
  }
}
